.slider__item {
       height: 350px;
       position: relative;
       img {
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
       }
}
@media (max-width:$md3+px) {
       .slider__item {
              height: 250px;
       }
}
@media (max-width:$md4+px) {
       .slider__item {
              height: 200px;
       }
}