.header {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       z-index: 10;
       transition: all .7s ease;
       box-shadow: 0px 0px 1px rgba(5, 5, 5, 1);
       &.fixed {
              background-color: #fff;
              position: fixed;
              .header__container {
                     padding: 5px 0;
              }
              .header__logo {
                     fill: #000;
              }
              .menu__link {
                     @include header__link-moved;
              }
              .header__phone {
                     @include header__link-moved;
              }
              .header__btn-toggle span {
                     background-color: #000;
              }
       }
       .header__container {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 15px 0;
       }
       .header__logo {
              fill: #fff;
       }
       .menu {}
       .menu__filter {
              display: flex;
              li {
                     &:not(:last-child) {
                            margin-right: 20px;
                     }
              }
       }
       .menu__link {
              @include adaptiv-font(18, 16);
              @include header__link-top;
              position: relative;
              transition: all .4s ease;
              &:hover {
                     color: rgb(255, 105, 0);
              }
              &:after {
                     content: "";
                     height: 2px;
                     border-radius: 20px;
                     width: 100%;
                     opacity: 0;
                     display: block;
                     position: absolute;
                     bottom: 0;
                     left: 0;
                     background-color: rgb(255, 105, 0);
                     transition: all .6s ease;
                     @media (max-width:$md3+px) {
                            display: none;
                     }
              }
              &:hover:after {
                     opacity: 1;
              }
       }
       .header__contacts {
              display: flex;
              align-items: center;
       }
       .header__phone {
              @include header__link-top;
              @include adaptiv-font(16, 14);
       }
}
@media (max-width:$md1+px) {
       .header {
              &.fixed {
                     .header__container {
                            padding-top: 15px;
                            padding-bottom: 15px;
                     }
                     .header__container {
                            max-width: 100%;
                            padding: 15px 10px;
                     }
                     .menu__filter {
                            li {
                                   &:not(:last-child) {
                                          margin-right: 15px;
                                   }
                            }
                     }
                     .menu__link:after {
                            display: none;
                     }
              }
       }
       @media (max-width:$md2+px) {
              .header {
                     &.fixed {
                            .header__logo {
                                   display: none;
                            }
                            .header__phone {
                                   display: none;
                            }
                            .menu__filter {
                                   padding: 13px 0;
                            }
                     }
              }
              .menu {
                     overflow-x: auto;
                     &::-webkit-scrollbar {
                            height: 2px;
                            border-radius: 50%;
                            &-track {
                                   background: #fff;
                            }
                            &-thumb {
                                   background-color: rgb(255, 105, 0);
                                   border-radius: 50px;
                            }
                     }
                     .menu__filter {
                            padding: 15px 0;
                     }
              }
              .menu__link {
                     white-space: nowrap;
              }
       }
       @media (max-width:$md4+px) {
              .header__container {
                     flex-wrap: wrap;
              }
              .menu {
                     order: 2;
                     width: 100%;
              }
       }
}