.main {
       position: relative;
       height: 100vh;
       .swiper-pagination {
              bottom: 80px;
              .swiper-pagination-bullet {
                     width: 10px;
                     height: 10px;
                     background-color: #fff;
                     opacity: 0.5;
              }
              .swiper-pagination-bullet-active {
                     opacity: 1;
                     background-color: rgb(255, 105, 0);
              }
       }
       .main__container {
              color: #fff;
              .swiper-slide {
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     padding-top: 70px;
                     padding-left: 60px;
                     &:nth-child(1) {
                            background: url(../img/main/bg-main1.jpg) no-repeat center center/cover;
                     }
                     &:nth-child(2) {
                            background: url(../img/main/bg-main2.jpg) no-repeat center center/cover;
                     }
                     &:nth-child(3) {
                            background: url(../img/main/bg-main3.jpg) no-repeat center center/cover;
                     }
              }
       }
       .main__title {
              font-size: 48px;
              @include adaptiv-font(38, 20);
              margin-bottom: 26px;
              line-height: 1.3;
       }
       .main__text {
              @include adaptiv-font(19, 16);
              line-height: 1.6;
              max-width: 60%;
              font-family: $text-ff;
       }
       ul {
              margin-top: 25px;
              margin-bottom: 20px;
              li {
                     line-height: 1.8;
                     font-weight: 700;
              }
       }
       .main__btn {
              position: absolute;
              top: 20%;
              right: 10%;
              text-align: center;
              &:hover {
                     .text__wrapper {
                            border: 4px solid rgb(255, 105, 0);
                            animation-play-state: paused;
                            span {
                                   color: rgb(255, 105, 0);
                            }
                     }
                     svg {
                            fill: rgb(255, 105, 0);
                            animation-play-state: paused;
                     }
              }
              .text__wrapper {
                     padding: 0.3em 1.25em 0.35em 1.25em;
                     animation: mainText 3s linear infinite;
                     border: 4px solid #fff;
                     border-radius: 1.25em;
                     @include adaptiv-font(60, 20);
                     margin-bottom: 10px;
              }
              span {
                     text-transform: capitalize;
                     color: #fff;
                     font-weight: 700;
                     transition: all .3s ease;
              }
              svg {
                     width: 10%;
                     height: auto;
                     animation: mainIcon 3s linear infinite;
              }
       }
}
@keyframes mainIcon {
       0% {
              opacity: 0.1;
              filter: drop-shadow(0 0 5px #ff0);
       }
       25% {
              opacity: 0.5;
              filter: drop-shadow(0 0 20px #ff0);
       }
       35% {
              opacity: 0.7;
              filter: drop-shadow(0 0 20px #ff0);
       }
       50% {
              opacity: 1;
              filter: drop-shadow(0 0 40px #ff0);
       }
       65% {
              opacity: 0.7;
              filter: drop-shadow(0 0 40px #ff0);
       }
       75% {
              opacity: 0.5;
              filter: drop-shadow(0 0 20px #ff0);
       }
       100% {
              opacity: .3;
              filter: drop-shadow(0 0 10px #ff0);
       }
}
@keyframes mainText {
       0% {
              box-shadow: 0 0 5px #ff0;
       }
       25% {
              box-shadow: 0 0 20px #ff0;
       }
       50% {
              box-shadow: 0 0 40px #ff0;
       }
       75% {
              box-shadow: 0 0 20px #ff0;
       }
       100% {
              box-shadow: 0 0 10px #ff0;
       }
}
@media (max-width:$md3+px) {
       .main {
              .main__container {
                     .swiper-slide {
                            padding: 0 20px;
                     }
              }
              .main__title {
                     margin-bottom: 10px;
              }
              .main__text {
                     max-width: 90%;
              }
       }
}