.shop {
       padding-bottom: 100px;
       .shop__container {
              .shop__delivery-btn {
                     background-color: #fff;
                     z-index: 10;
                     position: fixed;
                     right: 10px;
                     top: 100px;
                     cursor: pointer;
                     width: 60px;
                     height: 60px;
                     border-radius: 50%;
                     display: flex;
                     align-items: center;
                     justify-content: center;
                     transition: all 1s ease;
                     user-select: none;
                     animation: blink 3s ease-out infinite;
                     &:active {
                            box-shadow: inset 0 0px 3px #000;
                     }
                     .popup-link {
                            display: flex;
                     }
                     .total-count {
                            align-self: flex-start;
                            color: #fff;
                            position: relative;
                            &:after {
                                   content: "";
                                   position: absolute;
                                   width: 30px;
                                   height: 30px;
                                   border-radius: 50%;
                                   background-color: rgb(255, 105, 0);
                                   left: 50%;
                                   top: 50%;
                                   transform: translate(-50%, -50%);
                                   z-index: -1;
                            }
                     }
              }
       }
       .shop__item {
              padding-top: 80px;
              &:not(:last-child) {
                     padding-bottom: 40px;
              }
       }
       .shop__item-title {
              @include adaptiv-font(35, 20);
              margin-bottom: 30px;
              color: rgb(255, 105, 0);
       }
       .shop__grid {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              column-gap: 3%;
              row-gap: 40px;
       }
}
@keyframes blink {
       0% {
              box-shadow: 0 2px 3px #000;
       }
       25% {
              box-shadow: 0 2px 10px #000;
       }
       50% {
              box-shadow: 0 2px 5px #000;
       }
       75% {
              box-shadow: 0 2px 10px #000;
       }
       100% {
              box-shadow: 0 2px 3px #000;
       }
}
.item {
       position: relative;
       &:hover .item__img-wrapper {
              transform: translateY(-3px);
       }
       .item__img-wrapper {
              transition: all .4s ease;
              width: auto;
              min-height: 300px;
              margin-bottom: 20px;
              position: relative;
              .item__img {
                     position: absolute;
                     width: 100%;
                     height: 100%;
                     object-fit: contain;
                     object-position: center;
              }
       }
       .item__content {
              padding: 0 30px 30px;
       }
       .item__name {
              margin-bottom: 20px;
              @include adaptiv-font(20, 18);
              line-height: calc(24/20);
       }
       .item__text {
              min-height: 50px;
              font-family: $text-ff;
              line-height: 1.2;
              @include adaptiv-font(14, 12);
              color: #73798C;
              text-transform: capitalize;
       }
       .item__buy {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-top: 10px;
              .item__price {
                     @include adaptiv-font(25, 17);
                     font-weight: 700;
              }
              .item__add-btn {}
       }
}
@media (max-width:$md3+px) {
       .shop {
              .shop__container {
                     padding: 0;
                     .shop__delivery-btn {
                            top: 50px;
                     }
              }
              .shop__item {
                     padding-bottom: 0px;
              }
              .shop__item-title {
                     margin-left: 20px;
              }
              .shop__grid {
                     grid-template-columns: 1fr 1fr;
                     row-gap: 30px;
              }
       }
       .item {
              .item__img-wrapper {
                     min-height: 180px;
              }
              .item__content {
                     padding: 0 10px;
                     .item__name {
                            margin-bottom: 10px;
                     }
              }
       }
}
@media (max-width:$md4+px) {
       .shop {
              .shop__container {
                     .shop__delivery-btn {
                            width: 40px;
                            height: 40px;
                            .total-count:after {
                                   width: 20px;
                                   height: 20px;
                            }
                            svg {
                                   width: 30px;
                                   height: 30px;
                            }
                     }
              }
              .shop__grid {
                     grid-template-columns: 1fr;
                     column-gap: 0;
              }
       }
       .item {
              display: flex;
              .item__img-wrapper {
                     flex-basis: 200px;
                     margin-right: 10px;
                     .item__img {
                            object-position: top;
                     }
              }
              .item__content {
                     flex-basis: 50%;
                     padding: 0 5px;
              }
       }
}